<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylelogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>

<body>


    <form action="/register" method="POST">


        <section class="menu">

            <header class="header">
                <div class="logo">
                    <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                </div>
                <h2 class='titulo'>Ingresa</h2>
            </header>

            <div class='clase1'>
                <label for="nombre">Nombre de usuario: </label>
                <input class='casilla' type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">
            </div>

            <div class='clase1'>
                <label for="nombre">Contraseña: </label>
                <input class='casilla' type="password" name="nombre" id="nombre" placeholder="Ingrese su contraseña">
            </div>

            <a href="/reestabletucontrasena">¿Olvidaste tu contraseña?</a>


            <button class="boton" type="submit"><a href="/">Ingresar</a></button>

        </section>